
/*////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////*/
/* Snackbar toggle box */
#snackbar {

    min-width: 250px;
    background-color: #333;
    color: #fff;
    
    position: fixed;
    left: 50%;
    bottom: 30px;
    margin-left: -125px;

    padding: 16px;
    text-align: center;
    border-radius: 2px;

    visibility: hidden;
    
}

#snackbar.show {
    visibility: visible;

    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation-fill-mode: forwards;

}


@keyframes fadein {
    from {  bottom: 0;      opacity: 0;   }
    to   {  bottom: 30px;   opacity: 1;   }
}

@keyframes fadeout {
    from {  bottom: 30px;      opacity: 1;   }
    to   {  bottom: 0;         opacity: 0;   }
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
  

/*////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////*/
/* scroll with JS */

.testdiv_date.main { 
    height: 500px; width: 200px; 
    background-color: lightblue; 
    display: flex; 
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    overflow: scroll; /* needed for scroll */

} 

.testdiv_date.sub { 
    height: 300px; 
    width: 200px; 
}



/*////////////////////////////////////////////////////////////////////*/
/* layers */
/* 
intentionally cascading systems
in design systems ,themes, defaults, 
less important than unlayeres styles

can name or group layers

*/

@layer framework1, framework2;
/* framework2 wins even if not last written because last written in layer priority */
/* important layers reverse the order */

@layer framework2 {



@layer framework1 {

    .testdiv_date.sub {
        background: green;
    }

}

.testdiv_date.sub {
    background: blue;
}

}



.testdiv_date.sub { 
    background: gray;

}
