

/*////////////////////////////////////////////////////////////////////*/
/* 3d card flip */

.bg2810 {
    height: 205px;
    width: 500px;

    background: linear-gradient(to right, rgb(192, 255, 243), rgb(215, 173, 255));

}

.window2 { /*camera*/
    perspective: 2000px;
    perspective-origin: 300px 100px;


}

.scene2 {   /* items space */

    height: 200px;
    width: 500px;


    border: 1px solid black;
    border-radius: 30px;



    /******************************/
    position: absolute;
    transform-style: preserve-3d;
    /******************************/

    top: 100px; /*change to test on other elements*/
    left: 100px;
}

.card2 {

    height: 300px;
    width: 300px;
    background: linear-gradient(to bottom, rgb(173, 0, 255), rgb(102, 0, 226));
    border: 1px solid black;


    /******************************/
    position: absolute;
    transform: translate(-50%, -50%) rotateY(0deg);
    transition: all 0.5s linear;
    /******************************/


    top: 50%;
    left: 40%;

    z-index: 2;

}

.card3 {

    height: 100px;
    width: 100px;
    background: linear-gradient(to bottom, rgba(129, 177, 255, 0.543), rgba(80, 219, 212, 0.378));
    border: 1px solid black;
    color:rgba(63, 63, 63, 0.494);

    /******************************/
    position: absolute;
    transform: translate(-50%, -50%) rotateY(0deg);
    transition: all 0.5s linear;
    /******************************/


    top: 50%;
    left: 40%;

    z-index: 3;

}

/******************************/
@keyframes rotateCard2 {
    to {transform: translate(-50%, -50%) rotateY(60deg);}

}

@keyframes rotateCard3 {
    to {transform: translate(-50%, -50%) rotateY(60deg); left: 70%;}

}

/******************************/
.scene2:hover .card2 {
    animation: rotateCard2 0.5s forwards linear;
}

.scene2:hover .card3 {
    animation: rotateCard3 0.5s forwards linear;
}



/*////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////*/


.text-container {
    height: 300px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(129, 177, 255, 0.543), rgba(80, 219, 212, 0.378));    position: relative;
}

.text-3d {
    text-transform: uppercase;
    font-size: 50px;
    color: #eee;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-shadow: 
        0   1px 0 rgb(190, 190, 190),
        0   2px 0 rgb(185, 185, 185),
        0   3px 0 rgb(180, 180, 180),
        0   4px 0 rgb(175, 175, 175),
        0   5px 0 rgb(170, 170, 170),
        0   6px 0 rgb(165, 165, 165),
        0   7px 0 rgb(160, 160, 160),

        0   1px 5px rgba(0,0,0,0.05),
        0   3px 5px rgba(0,0,0,0.10),
        0   5px 10px rgba(0,0,0,0.15),
        0   7px 10px rgba(0,0,0,0.20),
        0   10px 15px rgba(0,0,0,0.25);

        transition: all 0.5 ease-in-out;

}

.text-3d:hover {

    text-shadow: 
    0   1px 0 rgb(190, 190, 190),
    0   2px 0 rgb(185, 185, 185),
    0   3px 0 rgb(180, 180, 180),
    0   4px 0 rgb(175, 175, 175),
    0   5px 0 rgb(170, 170, 170),
    0   6px 0 rgb(165, 165, 165),
    0   7px 0 rgb(160, 160, 160),
    0   8px 0 rgb(155, 155, 155),
    0   9px 0 rgb(150, 150, 150),

    0   1px 5px rgba(0,0,0,0.05),
    0   5px 5px rgba(0,0,0,0.10),
    0   10px 10px rgba(0,0,0,0.15),
    0   15px 10px rgba(0,0,0,0.20),
    0   20px 15px rgba(0,0,0,0.25);

    transform: translate(-50%, -50%);
    transition: all 0.5 ease-in-out;

    
}


/*////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////*/

.text-3d-2 {
    text-transform: uppercase;
    font-size: 35px;
    color: #eee;
    white-space: nowrap;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-shadow: 
    0.5px 0.5px 0 rgb(190, 190, 190),
    0.75px 0.75px 0 rgb(185, 185, 185),
    0px 0 0 rgb(180, 180, 180),
    0px 0 0 rgb(175, 175, 175),
    0px 0 0 rgb(170, 170, 170),
    0px 0 0 rgb(165, 165, 165),
    0px 0 0 rgb(160, 160, 160),

        0   1px 5px rgba(0,0,0,0.05),
        0   3px 5px rgba(0,0,0,0.10),
        0   5px 10px rgba(0,0,0,0.15),
        0   7px 10px rgba(0,0,0,0.20),
        0   10px 15px rgba(0,0,0,0.25);

        transition: all 1 ease-in-out;

}



.scene2:hover > .card2 > .text-3d-2 { 

animation: textRotate 0.5s linear 0s 1 forwards;
}


@keyframes textRotate {
    0% {text-shadow: 
        0.5px 0.5px 0 rgb(190, 190, 190),
    0.75px 0.75px 0 rgb(185, 185, 185),
        0px 0 0 rgb(180, 180, 180),
        0px 0 0 rgb(175, 175, 175),
        0px 0 0 rgb(170, 170, 170),
        0px 0 0 rgb(165, 165, 165),
        0px 0 0 rgb(160, 160, 160),
    
            0   1px 5px rgba(0,0,0,0.05),
            0   3px 5px rgba(0,0,0,0.10),
            0   5px 10px rgba(0,0,0,0.15),
            0   7px 10px rgba(0,0,0,0.20),
            0   10px 15px rgba(0,0,0,0.25);}
    100% { text-shadow: 
        -1px 0 0 rgb(190, 190, 190),
        -2px 0 0 rgb(185, 185, 185),
        -3px 0 0 rgb(180, 180, 180),
        -4px 0 0 rgb(175, 175, 175),
        -5px 0 0 rgb(170, 170, 170),
        -6px 0 0 rgb(165, 165, 165),
        -7px 0 0 rgb(160, 160, 160),
    
        0   1px 5px rgba(0,0,0,0.05),
        0   3px 5px rgba(0,0,0,0.10),
        0   5px 10px rgba(0,0,0,0.15),
        0   7px 10px rgba(0,0,0,0.20),
        0   10px 15px rgba(0,0,0,0.25);}
}




/*////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////*/

.card22 {

    height: 302px;
    width: 300px;
    
    /*
    background: linear-gradient(to top, rgb(255, 0, 0), rgb(226, 0, 0));
    border: 1px solid rgb(255, 0, 0);
*/
    border-top-left-radius: 3px;
    border-bottom-left-radius: 7px;

    /******************************/
    position: absolute;
    transform: translate(-50%, -50%) rotateY(0deg);
    transition: all 0.5s linear;
    /******************************/


    top: 50%;
    left: 40%;

    z-index: 1;


}




.scene2:hover .card22 {
    animation: rotateCard22 0.5s forwards linear;
}


@keyframes rotateCard22 {
    to {
        
        transform: translate(-50%, -50%) rotateY(60deg);
    
        box-shadow: 
    -1px 0px 0 rgb(190, 190, 190),
    -2px 0px 0 rgb(185, 185, 185),
    -3px 0 0 rgb(180, 180, 180),
    -4px 0 0 rgb(175, 175, 175),
    -5px 0 0 rgb(170, 170, 170),
    -6px 0 0 rgb(165, 165, 165),
    -7px 0 0 rgb(160, 160, 160);
    
    
    }

}


/*////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////*/
/* ?? */


.card33_container {

    height: 200px;
    width: 200px;
    background-color: rgba(0, 0, 255, 0);
    position: relative;

}

.card33 {

    height: 100px;
    width: 10px;
    background: rgba(0, 21, 255, 0.46);

    position: absolute;
    left: 66px;
    top: -18px;


    transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);


}


.card44 {

    height: 100px;
    width: 10px;
    background: rgba(0, 21, 255, 0.46);

    position: absolute;
    left: 100px;


    transform: rotateY(0deg) rotateX(0deg) rotateZ(45deg);


}


/*////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////*/
/*box card */


.window1 { /*camera*/
    perspective: 2000px;
    perspective-origin: 300px 100px;
    position: relative;


}

.scene1 {   /* items space */

    height: 200px;
    width: 300px;


    border: 1px solid black;
    border-radius: 30px;

    top: 200px; /*change to test on other elements*/
    left: 200px;


    /******************************/
    position: absolute;
    transform-style: preserve-3d;
    /******************************/

    transform: rotateY(0deg);

}

.scene1:hover {
    animation: sceneRotate 1s forwards linear;
    
    }
    
    @keyframes sceneRotate {
        to { transform: rotateY(60deg); }
        
    }
    

.card1 {

    height: 300px;
    width: 300px;
    background: linear-gradient(to bottom, rgb(173, 0, 255), rgb(102, 0, 226));
    border: 1px solid black;


    /******************************/
    position: absolute;
    transform: translate(-50%, -50%) rotateY(0deg);
    transition: all 0.5s linear;
    /******************************/


    top: 50%;
    left: 50%;

    z-index: 2;

}


.card_cont {
    height: 300px;
    width: 5px;
    background: rgba(0, 0, 0, 0.474);

    /******************************/
    position: absolute;
    transform: rotateY(90deg) translateZ(-155px) translateX(1.8px) translateY(-151px);
    transition: all 0.5s linear;
    /******************************/

    border-top-right-radius: 20px;

    top: 50%;
    left: 50%;

    z-index: 2;

    box-shadow: 
    inset -1px 0px 0 rgb(190, 190, 190),
    inset -2px 0px 0 rgb(185, 185, 185),
    inset -3px 0 0 rgb(180, 180, 180),
    inset -4px 0 0 rgb(175, 175, 175),
    inset -5px 0 0 rgb(170, 170, 170),
    inset -6px 0 0 rgb(165, 165, 165),
    inset -7px 0 0 rgb(160, 160, 160),
    inset -8px 0 0 rgb(0, 0, 0);
}


/*box card manual shape shadow*/

/*
.card_cont {
    transform: rotateY(270deg);
    transition: all 0.5s linear;
    position: relative;
    left: -201px;
    top: -25px;
    z-index: 3;
    border: 1px solid black;
    
}

.scene2:hover > .card_cont {
    transform: rotateY(0deg);
    left: -30px;

}

.card55_2 {

    height: 150px;
    width: 100px;
    background: rgba(0, 0, 0, 0.02);

    position: absolute;
    left: 150px;


    transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg) skewX(0deg) skewY(-25deg);

    box-shadow: 
    inset -1px 0px 0 rgb(190, 190, 190),
    inset -2px 0px 0 rgb(185, 185, 185),
    inset -3px 0 0 rgb(180, 180, 180),
    inset -4px 0 0 rgb(175, 175, 175),
    inset -5px 0 0 rgb(170, 170, 170),
    inset -6px 0 0 rgb(165, 165, 165),
    inset -7px 0 0 rgb(160, 160, 160),
    inset -8px 0 0 rgb(0, 0, 0);

}

.card55_1 {

    height: 150px;
    width: 100px;
    background: rgba(0, 0, 0, 0.02);

    position: absolute;
    left: 150px;
    top: 50px;


    transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg) skewX(0deg) skewY(0deg);

}
.card55 {

    height: 150px;
    width: 100px;
    background: rgba(0, 0, 0, 0.02);

    position: absolute;
    left: 150px;
    top: 100px;


    transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg) skewX(0deg) skewY(25deg);
    box-shadow: 
    inset -1px 0px 0 rgb(190, 190, 190),
    inset -2px 0px 0 rgb(185, 185, 185),
    inset -3px 0 0 rgb(180, 180, 180),
    inset -4px 0 0 rgb(175, 175, 175),
    inset -5px 0 0 rgb(170, 170, 170),
    inset -6px 0 0 rgb(165, 165, 165),
    inset -7px 0 0 rgb(160, 160, 160),
    inset -8px 0 0 rgb(0, 0, 0);

}


*/



.card333 {

    height: 300px;
    width: 300px;
    background: rgba(0, 0, 0, 0.1);

    position: absolute;
    left: 66px;
    top: -18px;

    border: 1px solid black;

    transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
    box-shadow: 
    inset -1px 0px 0 rgb(190, 190, 190),
    inset -2px 0px 0 rgb(185, 185, 185),
    inset -3px 0 0 rgb(180, 180, 180),
    inset -4px 0 0 rgb(175, 175, 175),
    inset -5px 0 0 rgb(170, 170, 170),
    inset -6px 0 0 rgb(165, 165, 165),
    inset -7px 0 0 rgb(160, 160, 160),
    inset -8px 0 0 rgb(0, 0, 0);


}





.box-shadow {




}