

:root {
    --box-Color: #0ff7;
}


body {

    background-color: #000;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}


.scene {
    position: relative;
}


        .ball {
            width: 1em;
            height: 1em;
            border-radius: 50%;
            background: lightblue;

            position: absolute;
            left: -0.5em;
            bottom: 1em;
        }

        .cube {
            width: 2em;
            height: 2em;
        /*    background: var(--box-Color);*/

            position: absolute;
            top: -1em;
            left: -1em;

            





        }

        .floor {

            position: absolute;

            width: 15em;
            height: 15em;
            background-image: 
            repeating-conic-gradient(from 45deg, #111 0deg 90deg, #222 90deg 180deg);

            background-size: 1em 1em ;

            transform : translate(-50%, -50%);
            top: 1em;
        }

        /*------------------------------------------------------------------------*/
        /*should reach picture 1 positioning
        next step is adjusting angles of camera 
        create 3d world */


        body {
            font-size: 75px;
        }

        .scene {
            perspective: 1000px;
            transform-style: preserve-3d;
            perspective-origin: 50% calc(50% - 2em);


        }

        .floor {
            transform : translate(-50%, -50%) rotateX(90deg);

        }


        /*------------------------------------------------------------------------*/
        /* position sides in 3d world */

        .cube {
            transform-style: preserve-3d;

        }

        .left, .right, .front, .back {
            background: var(--box-Color);

            transform-style: preserve-3d;

            position: absolute;
            height: 100%;
            width: 100%;


        }

        /* giving positions to sides */

        .front {
            transform: rotateY(0deg) translateZ(1em);

        }

        .right {
            transform: rotateY(90deg) translateZ(1em);
            /*rotate before translate */
        }

        .back {
            transform: rotateY(180deg) translateZ(1em);
        }
        .left {
            transform: rotateY(270deg) translateZ(1em);
        }

        .top {

            position: absolute;
            width: 2em;  /* to keep its width while cube moving */
            height: 2em;
            background: var(--box-Color);
            transform: translateY(-50%) rotateX(90deg);
        }

        .bottom {

            position: absolute;
            width: 2em;  /* to keep its width while cube moving */
            height: 2em;
            background: rgba(255, 255, 255, 0.495);
            transform: translateY(50%) rotateX(90deg);

            bottom: 0;
        }


        /*------------------------------------------------------------------------*/

        /* shadows */
        /*
        center of light comes from the top
        center of floor be brighter
        as far as we go it becomes darker
        */


        .floor {


            /* transparent then black */
            background-image: 
            radial-gradient(rgba(255, 255, 255, 0.1), rgb(24, 24, 24) 75%),
            repeating-conic-gradient(from 45deg, #111 0deg 90deg, #222 90deg 180deg);

            background-size: 100%, 1em 1em;

        }


        .left, .right, .front, .back {

            box-shadow: 0 0 0.5em #000a inset;
        }

        .top {
            box-shadow: 0 0 0.5em #000a inset;

        }

        .bottom {
            box-shadow: 0 0 1em #000;

        }