
/* remaking kp_cubes again */

:root {
    --box-Color: #0ff7;

}

body {

    background-color: black;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;


}






/*/////////////////////////////////////////////////////*/

.window { /*camera*/
    perspective: 700px;
    perspective-origin: 50% -15em;


}

.scene {
    position: relative;
    font-size: 100px;
    transform-style: preserve-3d;
    animation: sceneRotate 10s 0 linear;

}


.scene:hover {
    animation: sceneRotate 10s infinite linear;
    animation-delay: 0 ;

}



@keyframes sceneRotate {
    to { transform: rotateY(-360deg); }
    
}


.floor {

    height: 4em;
    width: 4em;
    background-image: 
    radial-gradient(rgba(255, 255, 255, 0.1), rgba(24,24,24,1) 80% );
    /* white and black(takes 75% from out)*/


    position: absolute;
    transform: translate(-50%, -50%) rotateX(90deg);

    top: 1em;


}

.cube {

    transform-style: preserve-3d;
    transform: rotateX(0deg);

    width: 2em;
    height: 2em;
    position: absolute;

    /*
    left: -100px;
    top: -100px;
*/

}


.ball {
    width: .5em;
    height: .5em;

    background-color: white;
    position: absolute;
    border-radius: 50%;
    /*top: -1.5em; */
    left: -25px;
}

.left, .right, .front, .back, .bottom {

    background: var(--box-Color);

    position: absolute;
    height: 100%;
    width: 100%;

}

.front {

    transform: rotateY(0deg) translateZ(1em);
    border: 1px solid black;

}

.back {

    transform: rotateY(0deg) translateZ(-1em);
    border: 1px solid black;

}

.left {

    transform: rotateY(90deg) translateZ(-1em);
    border: 1px solid black;

}

.right {

    transform: rotateY(-90deg) translateZ(-1em);
    border: 1px solid black;

}

.top {
    position: absolute;
    width: 2em;  /* to keep its width while cube moving */
    height: 2em;
    background: var(--box-Color);
    transform: translateY(-50%) rotateX(90deg);

}

.bottom {
    position: absolute;
    width: 2em;  /* to keep its width while cube moving */
    height: 2em;
    background: rgba(255, 255, 255, 0.495);
    transform: translateY(50%) rotateX(90deg);

    bottom: 0;
}

