

:root {
    --box-Color: #0ff7;
    --rotateSpeed: 30s;
}


body {

    background-color: #000;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

        /* size and positioning */
        .scene {
            position: relative;
        }

        .floor {

            position: absolute;

            width: 15em;
            height: 15em;
            background-image: 
            repeating-conic-gradient(from 45deg, #111 0deg 90deg, #222 90deg 180deg);

            background-size: 1em 1em ;

            transform : translate(-50%, -50%);
            top: 1em;
        }

        .ball {
            width: 1em;
            height: 1em;
            border-radius: 50%;
            background: lightblue;

            position: absolute;
            left: -0.5em;
            bottom: 1em;
        }

        .cube {
            width: 2em;
            height: 2em;
        /*    background: var(--box-Color);*/

            position: absolute;
            top: -1em;
            left: -1em;

            





        }



        /*------------------------------------------------------------------------*/
        /*should reach picture 1 positioning
        next step is adjusting angles of camera 
        create 3d world */


        body {
            font-size: 75px;
        }

        .scene {
            perspective: 1000px;  /* .-^-. far out angled */
            transform-style: preserve-3d;
            perspective-origin: 50% calc(50% - 2em);
            /* x y axis camera look */


        }

        .floor {
            transform : translate(-50%, -50%) rotateX(100deg);

        }


        /*------------------------------------------------------------------------*/
        /* position sides in 3d world */

        .cube {
            transform-style: preserve-3d;

        }

        .left, .right, .front, .back {
            background: var(--box-Color);

            transform-style: preserve-3d;

            position: absolute;
            height: 100%;
            width: 100%;


        }

        /* giving positions to sides */

        .front {
            transform: rotateY(0deg) translateZ(1em);

        }

        .right {
            transform: rotateY(90deg) translateZ(1em);
            /*rotate before translate */

        }

        .back {
            transform: rotateY(180deg) translateZ(1em);
        }
        .left {
            transform: rotateY(270deg) translateZ(1em);
        }

        .top {

            position: absolute;
            width: 2em;  /* to keep its width while cube moving */
            height: 2em;
            background: var(--box-Color);
            transform: translateY(-50%) rotateX(90deg);
        }

        .bottom {

            position: absolute;
            width: 2em;  /* to keep its width while cube moving */
            height: 2em;
            background: rgba(255, 255, 255, 0.495);
            transform: translateY(50%) rotateX(90deg);

            bottom: 0;
        }


        /*------------------------------------------------------------------------*/

        /* shadows */
        /*
        center of light comes from the top
        center of floor be brighter
        as far as we go it becomes darker
        */


        .floor {


            /* transparent then black on the previous conic-texture */
            background-image: 
            radial-gradient(rgba(255, 255, 255, 0.1), rgb(24, 24, 24) 75%),
            repeating-conic-gradient(from 45deg, #111 0deg 90deg, #222 90deg 180deg);

            background-size: 100%, 1em 1em;

        }


        .left, .right, .front, .back {

            box-shadow: 0 0 0.5em #000a inset;
        }

        .top {
            box-shadow: 0 0 0.5em #000a inset;

        }

        .bottom { /*shadow around the box from outside*/
            box-shadow: 0 0 1em #000;

        }

        /*------------------------------------------------------------------------*/

        /* the ball, shadowing to give depth */

        .ball {

            background-image: radial-gradient( 
                circle at top, lightblue, 50%, #000
            );

        }        
        /* the percent changes the midpoint between the colors */

        /*add shadow on the top layer */
        .ballShadow {
            position: absolute;
            width: 100%; height: 100%;
            background: radial-gradient(rgba(0, 0, 0, 0.764), #0000 50%);   
        }


        /*------------------------------------------------------------------------*/


        .scene {
            perspective: 1000px;  /* .-^-. far out angled */
            transform-style: preserve-3d;
            perspective-origin: 50% calc(50% - 2em);
            /* x y axis camera look */

            animation: sceneRotate var(--rotateSpeed) infinite linear;

           

        }

        .ball {
            animation: sceneRotate var(--rotateSpeed) infinite linear reverse;

        }

        @keyframes sceneRotate {
            to { transform: rotateY(-360deg); }
            
        } 