
:root {
    --clr-neon: hsl(317 100% 54%);
    --clr-bg: hsl(323 21% 16%);

}


/*
0 0 0.125em hsl(0 0% 100% / 0.5)

place-items

var(color) insert the value of a css variable, access to DOM, global in root /local in scope scope, 
use with JS or media queries

cursor: pointer

rem, em

currentColor

content: '';

transition: opacity 100ms linear;


*/


*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: var(--clr-bg);
    font-family: "Balsamiq Sans", monospace;
    color: var(--clr-neon);
}

.neon-button {
    font-size: 2.5rem;

    display:  inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);

    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1.5em;
    border-radius: 0.25em;

    text-shadow: 
    0 0 0.125em hsl(0 0% 100% / 0.3), /*white one followed by the other one*/
    0 0 0.25em currentColor ; /*blur, change on font size itself*/

    box-shadow:  
    inset 0 0 0.5em 0 var(--clr-neon),
    0 0 0.5em 0 var(--clr-neon)
    ;

    position: relative; /*not relative to the page, button is now containing block*/

    transition: background-color 100ms linear; /*end steps*/

}


/* adding the reflection */

.neon-button::before { /*pseudo element video*/
    content: ''; /*must have in pseudo*/
    position: absolute; /*neon button containing block for pseudo element*/

    background: var(--clr-neon);

    /* location */
    top: 120%;
    left:0;
    width: 100%;
    height: 100%;
    /*transform and translate also works in moving the reflection space */

    /* the rotation */
    transform: 
    perspective(1em) /* POV  from above, lowest is 1 how far away we are from the thing, the rotation POV */
    rotateX(40deg) 
    /*rotateZ(20deg)*/
    scale(1,0.35); /*squish it a little bit*/
    
    /* the effect */
    filter: blur(1.2em);
    opacity: 0.7;   /*less intense*/

    pointer-events: none; /*hover on button works, hover shadow after it not work*/
}


.neon-button:hover, .neon-button:focus {

    color: var(--clr-bg);
    text-shadow: none;

}


/*second effect*/
.neon-button::after {
    content: '';
    position: absolute;

    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    box-shadow:  0 0 5em 0.5em var(--clr-neon);
    opacity:0;

    background-color: var(--clr-neon); /*was on the button hover but we put it here to sum effects and with z-index to not make it overlap the button itself*/
    z-index: -1;
    transition: opacity 100ms linear; /*end steps*/

    
}


.neon-button:hover::after,
.neon-button:focus::after { /*when we hover on neon button the after will ..*/
    opacity: 1;
}

.neon-button:hover::before,
.neon-button:focus::before {
    opacity: 1;       /*from 0.7 to this value*/
}