
:root{
    font-size: 20px;

    --clr-darkgrey: hsl(0, 0%, 73%);
    --clr-darkergrey: hsl(0, 0%, 18%);
    --clr-background-box: hsl(0, 0%, 95%);
    --clr-header-color: hsl(0deg 0% 58%);
    /*hsl(0, 0%, 27%)*/

    --clr-text-shadow-border: hsl(143, 85%, 34%);
    --clr-text-shadow : hsl(143, 87%, 47%);
    --clr-output-text: hsl(0, 0%, 82%);
    
}

body {
    background-color: var(--clr-darkergrey);

}

.Main_Div {

    min-height: 400px;
    width: 700px;

    border: 3px solid var(--clr-darkgrey);
    /*background-color: var(--clr-background-box);*/
    border-radius: 10px;

    margin: auto;
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 12px 2px var(--clr-background-box),
    1px 1px 12px 5px var(--clr-text-shadow);

}

.Sub_Div1 {

    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;

}

.Sub_Div1 p {
    margin-top: 1em;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;

    color: var(--clr-header-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.Normal_Button {
    background-color: hsl(0, 0%, 82%) ;
    color: var(--clr-darkergrey);
    border-color: var(--clr-header-color);
    border-radius: 10px;

    height: 2em;
    width: 10em;

    font-family: monospace;

}

.Normal_Button:hover {
    text-shadow: 0px 0px 4px var(--clr-text-shadow-border);
    color: var(--clr-background-box);
}

.Sub_Div2 {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    height: 100%;
    width: 100%;

    flex-grow: 1;
    justify-content: center;


    padding: 50px 50px;
}

.Sub_Div2 img {
    height: 15%;
    width: 15%;
    margin: 20px;

    border: 5px solid var(--clr-header-color);
    border-radius: 2px;
    box-shadow: 0px 0px 5px var(--clr-darkgrey);

}

