
body {
    display: grid;
    place-items: center;

}

.Thirteen_091::before {

    content: 'Before'; /* can be url(''), open-quote */
    background: red;

    font-size: 20px;
    color: white;
    font-weight: 900;

    display: block;


}

.Thirteen_091::after {
    content: open-quote;
    font-size: 2em;
    color: red;

}

a[data-tool-tip] {

    position: relative; /* want to place as wanted*/

}


a[data-tool-tip]::after {

    content: attr(data-tool-tip);
    display: block; /*separate from element's line*/
    position: absolute;
    bottom: 0;
    left: 0;

    background-color: gray ;
    padding: 1em 3em;
    color: white;
    border-radius: 4px;
    font-size: 0.75em;
    white-space: nowrap;    /*avoid text wrapping*/
    transform: scale(0); /*scale 0 , so it does not exist anymore*/
    transition: 
    transform 150ms ease-out, 
    bottom 150ms ease-out ;

}

a[data-tool-tip]:hover::after {
    transform: scale(1); /*scale 0 , so it does not exist anymore*/
    bottom: 80%;
}

/*stopped at 10:23*/

/*for any link with http on it, give pdf icon using font awesome*/
a[href^="http"]::after {
    font-family: 'Font Awesome 5 Free';
    content: '\f35d';
    font-weight: 900;
}

a[href^="http"] {
    position: relative;
}

/* make custom marker to each element (link, div etc..)*/
a[href^="http"]::before {
    counter-increment: counter-peferedname; /*on parent use counter-reset: counter-peferedname*/
    content: counter(counter-peferedname);
    position: absolute;
    left: -2em;
    color: white;
    background-color: gray;
    border-radius: 70%;
    width: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

}