

/*////////////////////////////////////////////////////////////////////*/

#overlay {
    position: fixed;
    width: 100%; /* 100% */
    height: 300px; /* 100% */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0,100,40,0.3);
    
    z-index: 2;
    display: none;

    
    cursor: pointer;
  }

  #overlay p {
    color: white;
    font-weight: 700;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  

/*////////////////////////////////////////////////////////////////////*/  
/* on fullscreen style */

  :fullscreen {
    /*background-color: yellow;*/
  }

    #fs-toggle:not(:fullscreen) {
        background-color: #faa;
      }
      
      #fs-toggle:fullscreen {
        background-color: #3b0;
      }


/*////////////////////////////////////////////////////////////////////*/  


.btn {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;

    line-height: 1;
    background: none;
    border: 0;

    padding: 0.5em 1.5em;

}

.btn-1, .btn-2 {
    color: #386397;
    border: 2px solid red;

    outline: 2px solid #386397;  /*like border but starts after*/
    outline-offset: -2px; /* offset location overlaps border location now */

    transition: outline-offset 250ms ease;


}

.btn-1:hover, .btn-1:focus {    /* focus: keyboard hover*/
    outline-offset: 2px; /* change offset location to be out of border */
}

.btn-2:hover, .btn-2:focus {    /* focus: keyboard hover*/
    outline-offset: -5px; /* change offset location to be inside of border */
}

.btn-3 {
    background : #386397;
    border: 2px solid #386397;
    color: #ffff;

    outline: 2px solid #fff;
    outline-offset: 0px;
    transition: outline-offset 250ms ease;


}

.btn-3:hover, .btn-3:focus {    /* focus: keyboard hover*/
    outline-offset: -4px;

}

.btn-4 {
    outline: 2px solid #386397;
    color: #386397;
    border: 2px solid #386397;
    outline-offset: -4px;
    transition: outline-offset 250ms ease,
                outline-width 250ms ease;

}

.btn-4:hover, .btn-4:focus {    /* focus: keyboard hover*/
    outline-offset: -2px;
    outline-width: 3px;

}

/*////////////////////////////////////////////////////////////////////*/

    :root {
        --boxColor: #0ff7;
    }

    body {

    }

    .bodyDiv {
        background-color: #000;
        height: 500px;
        width: 500px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 50px;

        position: relative;



    }

    .scene {
        position: relative; /*everything else relative to the scene */
        perspective: 10em; /* distance from 0 point from axis */
        transform-style: preserve-3d;
        perspective-origin: 50% calc( 50% - 2em); /*look from up a bit*/

    }


    /*variable size and everything relative to this variable 
    use em vs the font size first*/
    .ball {
        width: 1em;
        height: 1em;
        border-radius: 50%;
        background: lightblue;

                /*images on(1), position middle */
                position: absolute;
                left: -.5em;
                top: -3em;
    }

    .cube {
        width: 2em;
        height: 2em;
/*        background-color: var(--boxColor); */

        /*images on(1), position bottom of cube middle of floor */
        position: absolute;
        top: -2em;
        left: -1em;

    }


            .left, .right, .top, .bottom {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: var(--boxColor);
            }

            .front {
                
            }

    .floor {
        width: 10em;
        height: 10em;
        background-image: repeating-conic-gradient(from 45deg, #111 0deg 90deg, #222 90deg 180deg );
        background-size:  1em 1em;

                /*images on(1), position middle */
                /* rotate x to make floor a floor */
                transform: translate(-50%, -50%) rotateX(80deg);
                position: absolute;


 
    }

/*
rotateX
perspective
inc size
preserve-origin
==building cube, 
6side position relative to the cube in html divs 
add hw
position by transform

*/


/*////////////////////////////////////////////////////////////////////*/
/*justify-self and margin-direction: autos */
    .test0910 {
        height: 200px;
        width: 200px;
        background: #222;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
    }

    .element2, .element3 {
        justify-self: end; /*works on grid*/
        color: white;
        margin-left: auto;  /*works like justify self*/
        margin-right: auto;  /*works like justify self*/
        /*both directions center */
        /*if used on two items, the remaining space will be split evenly responsive auto between them */

    }

    /* justification of an element within its containing block */
    /*self-end: The element is packed along its own ending edge, which depends on its direction.*/


    /* another way of bordering all children*/
    .test0910 > * {
        outline: 2px solid limegreen;
    }


/*////////////////////////////////////////////////////////////////////*/